.hema-form-dropdown-custom .btn {
 background: #fff;
 width: 100%;
 border:1px solid #DEE2E6;
 font-size: 12px;
 padding: 9px;
 font-weight: 500;
 line-height: 15px;
 border-radius: 5px;
 color:#989898;
 text-align: left;

}